
/*NEUTRALIDAD*/
header, section, aside, article, footer {
    display: block;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fffffff;
}

body {
    background-color: #121212;
}

img {
    border: 0;
}

/*ESTRUCTURAL*/
body {
    width: 100%;
    font-size: 16px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    width: 100%;
    background-color: #BDBDBD;
    height: auto;
    padding-top: 24px;
    margin-bottom: 24px;
}

section {
    max-width: 900px;
    min-height: 800px;
    overflow: hidden;
    margin:auto;
}

section p{
    color: #ffffff
}

footer {
    width: 100%;
    background-color: #BDBDBD;
    height: auto;
}
    footer a {
        color: #005288;
        display: block;
    }
    footer p {
        color: #3e3e3e;
        font-size: 24px;
        margin: 3px;
    }
/*CLASS*/
.header_button {
    border-width: thick;
    border-color: #005288;
    display: inline;
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;
    color: #005288;
    font-size: 24px;
}

    .header_button a {
        text-decoration: none;
        color: #005288;
    }

.header_button_selected {
    background-color: #005288;
    display: inline;
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;
    color: #ffffff;
    font-size: 24px;
    border-radius: 5px;
}

    .header_button_selected a {
        text-decoration: none;
        color: #ffffff;
    }

.header_title {
    font-size: 64px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header_subtitle {
    font-size: 24px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.site_article {
    display:block;
}

.container {
    width: 400px;
    height: 400px;
    display: inline;
    background-color: #BDBDBD;
    float: left;
    margin-left: 40px;
    border-width: medium;
    border-color: #005288;
    border-style: solid;
    border-radius: 5px;
}
.container p {
    color: #000000;
}

.portfolio_image {
    max-width: 100%;
    height: auto;
    
}
.portfolio_text {
    
    width: 400px;
    height: auto;
    display: block;
    
}
    .portfolio_text b {
        color: #005288;
    }
.portfolio_title {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.portfolio_description {
    display: inline-block;
}
portfolio_tech {
    display: inline-block;
    position:relative;
    bottom:10px;
}

.line {
    
}

.article_title {
    //background-color: #7A3A8C;
    color: #ffffff;
    display: inline;
    border-radius: 5px;
    padding: 3px;
}

.title_image {
    width: 100%;
    height: auto;
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #005288;
    margin-top: 10px;
}

.video_article{
    max-width: 100%;

}

.about_me_text {
    background-color: #005288;
    color: #ffffff;
    font-size: 24px;
    border-radius: 5px;
}

.footer_colum{
    display:inline-block;
    text-align:left;
    margin: 20px;
}